[Desktop Entry]
Encoding=UTF-8
Name=Cmpbin
Comment=Compare if binary content of each of the files from two folders has match in other folder
Exec=cmpbin
Icon=cmpbin.xpm
Terminal=false
Type=Application
Categories=GNOME;GTK;Productivity;Programming;
StartupNotify=true
